<!DOCTYPE html>
<html>
  <head>
    <title>NodeGame 0.1 [alpha]</title>
    <meta charset="utf-8" />
    <link href = "css/site.css" type = "text/css" rel = "stylesheet"/>
  </head>

  <body>
    <canvas>
    </canvas>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src = "js/site.js"></script>
  </body>
</html>
